<div class="skill_cards">
	<div class="container"   ng  fxLayout fxLayout.sm="column"      fxLayout.xs="column"     fxLayoutAlign="left"     fxLayoutGap="30px"     fxLayoutGap.xs="10px">
		<div  fxFlex="33.33%">
			 <md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-Java.svg" >
				   <md-card-title class="skill_header">Java</md-card-title>
				   <md-card-subtitle>Total Participants:95783</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				    <h1 class="skill_content"><a routerLink="java">See 4 Test</a></h1>
				</md-card-content>
			 </md-card>
		</div>
		<div  fxFlex="33.33%">
			<md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-C.svg" >
				   <md-card-title class="skill_header">C</md-card-title>
				   <md-card-subtitle>Total Participants:64782</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 10 Test</h1>
				</md-card-content>
			</md-card>
		</div>
		<div  fxFlex="33.33%">
			<md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-CPP.svg" >
				   <md-card-title class="skill_header">C++</md-card-title>
				   <md-card-subtitle>Total Participants:43570</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 7 Test</h1>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<div class="container"     fxLayout fxLayout.sm="column"      fxLayout.xs="column"     fxLayoutAlign="left"     fxLayoutGap="30px"     fxLayoutGap.xs="10px">
		<div  fxFlex="33.33%">
			 <md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-Java.svg" >
				   <md-card-title class="skill_header">Java</md-card-title>
				   <md-card-subtitle>Total Participants:95783</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 4 Test</h1>
				</md-card-content>
			 </md-card>
		</div>
		<div  fxFlex="33.33%">
			<md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-C.svg" >
				   <md-card-title class="skill_header">C</md-card-title>
				   <md-card-subtitle>Total Participants:64782</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 10 Test</h1>
				</md-card-content>
			</md-card>
		</div>
		<div  fxFlex="33.33%">
			<md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-CPP.svg" >
				   <md-card-title class="skill_header">C++</md-card-title>
				   <md-card-subtitle>Total Participants:43570</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 7 Test</h1>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<div class="container"     fxLayout fxLayout.sm="column"      fxLayout.xs="column"     fxLayoutAlign="left"     fxLayoutGap="30px"     fxLayoutGap.xs="10px">
		<div  fxFlex="33.33%">
			 <md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-Java.svg" >
				   <md-card-title class="skill_header">Java</md-card-title>
				   <md-card-subtitle>Total Participants:95783</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 4 Test</h1>
				</md-card-content>
			 </md-card>
		</div>
		<div  fxFlex="33.33%">
			<md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-C.svg" >
				   <md-card-title class="skill_header">C</md-card-title>
				   <md-card-subtitle>Total Participants:64782</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 10 Test</h1>
				</md-card-content>
			</md-card>
		</div>
		<div  fxFlex="33.33%">
			<md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-CPP.svg" >
				   <md-card-title class="skill_header">C++</md-card-title>
				   <md-card-subtitle>Total Participants:43570</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 7 Test</h1>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<div class="container"     fxLayout fxLayout.sm="column"      fxLayout.xs="column"     fxLayoutAlign="left"     fxLayoutGap="30px"     fxLayoutGap.xs="10px">
		<div  fxFlex="33.33%">
			 <md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-Java.svg" >
				   <md-card-title class="skill_header">Java</md-card-title>
				   <md-card-subtitle>Total Participants:95783</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 4 Test</h1>
				</md-card-content>
			 </md-card>
		</div>
		<div  fxFlex="33.33%">
			<md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-C.svg" >
				   <md-card-title class="skill_header">C</md-card-title>
				   <md-card-subtitle>Total Participants:64782</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 10 Test</h1>
				</md-card-content>
			</md-card>
		</div>
		<div  fxFlex="33.33%">
			<md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-CPP.svg" >
				   <md-card-title class="skill_header">C++</md-card-title>
				   <md-card-subtitle>Total Participants:43570</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 7 Test</h1>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<div class="container"     fxLayout fxLayout.sm="column"      fxLayout.xs="column"     fxLayoutAlign="left"     fxLayoutGap="30px"     fxLayoutGap.xs="10px">
		<div  fxFlex="33.33%">
			 <md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-Java.svg" >
				   <md-card-title class="skill_header">Java</md-card-title>
				   <md-card-subtitle>Total Participants:95783</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 href="www.google.com" class="skill_content">See 4 Test</h1>
				</md-card-content>
			 </md-card>
		</div>
		<div  fxFlex="33.33%">
			<md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-C.svg" >
				   <md-card-title class="skill_header">C</md-card-title>
				   <md-card-subtitle>Total Participants:64782</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 10 Test</h1>
				</md-card-content>
			</md-card>
		</div>
		<div  fxFlex="33.33%">
			<md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-CPP.svg" >
				   <md-card-title class="skill_header">C++</md-card-title>
				   <md-card-subtitle>Total Participants:43570</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 7 Test</h1>
				</md-card-content>
			</md-card>
		</div>
	</div>
	<div class="container"     fxLayout fxLayout.sm="column"      fxLayout.xs="column"     fxLayoutAlign="left"     fxLayoutGap="30px"     fxLayoutGap.xs="10px">
		<div  fxFlex="33.33%">
			 <md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-Java.svg" >
				   <md-card-title class="skill_header">Java</md-card-title>
				   <md-card-subtitle>Total Participants:95783</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 4 Test</h1>
				</md-card-content>
			 </md-card>
		</div>
		<div  fxFlex="33.33%">
			<md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-C.svg" >
				   <md-card-title class="skill_header">C</md-card-title>
				   <md-card-subtitle>Total Participants:64782</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 10 Test</h1>
				</md-card-content>
			</md-card>
		</div>
		<div  fxFlex="33.33%">
			<md-card>
				<md-card-header>
				   <img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-CPP.svg" >
				   <md-card-title class="skill_header">C++</md-card-title>
				   <md-card-subtitle>Total Participants:43570</md-card-subtitle>
				</md-card-header>
				<md-card-content>
				   <h1 class="skill_content">See 7 Test</h1>
				</md-card-content>
			</md-card>
		</div>
	</div>
</div>