
<!--Header Navigation bar and Side bar imported from HeadComponent-->
	<head-comp></head-comp>

<!-- HTML base code for Assessment Component-->

<div class="fade_white">
	<div class="skill_cards">
		<div class="container">
			<div class="module_head">
				<h1>Search for Skill Tests</h1>
			</div>
			<div  class="content" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start left" fxLayoutGap="1%"  >
				<div fxLayout="column" fxLayoutAlign="start left"  fxFlex = "70%" fxLayoutGap="0.8%" >
					<div fxFlex>
						<md-card class="card_modifed"> 
							<div fxLayout.sm="column" fxLayout.xs="column"  fx.Layout="row" fxLayoutAlign="start left" fxLayoutGap="1%">
								<div fxFlex="80">
									<md-card-title class="md_card_title">SCJP Test</md-card-title>
									<md-card-content>
										<p>
											<span class="line_advisor">Participants</span>
											<span class="line_advisor">Success Rate</span>
											<span class="line_advisor">Max Score</span>
										</p>
									</md-card-content>
								</div>
								<div fxFlex="20">
								2
								</div>
							</div>
						</md-card>
					</div>
					<div fxFlex>
						<md-card>
							
						</md-card>
					</div>	
				</div>
				<div fxLayout="column" fxLayoutAlign="start left"  fxFlex = "30%" fxLayoutGap="0.8%" >
					<div fxFlex>
						<md-card>
							
						</md-card>
					</div>
					<div fxFlex>
						<md-card>
							
						</md-card>
					</div>	
				</div>
			</div>
			</div>
		<!--<div class="container"   ng  fxLayout="row"     fxLayoutAlign="left"     fxLayoutGap="30px"     fxLayoutGap.xs="10px">
			<div  fxFlex="33.33%">
				<md-card>
					<md-card-header>
						<img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-Java.svg" >
						<md-card-title class="skill_header">Java</md-card-title>
						<md-card-subtitle>Total Participants:95783</md-card-subtitle>
					</md-card-header>
					<md-card-content>
						<h1 class="skill_content"><a routerLink="java">See 4 Test</a></h1>
					</md-card-content>
				</md-card>
				
			</div>
			<div  fxFlex="33.33%">
				<md-card>
					<md-card-header>
						<img md-card-avatar src="https://www.techgig.com/files/skilllogo/Skill-Logo-Java.svg" >
						<md-card-title class="skill_header">Java</md-card-title>
						<md-card-subtitle>Total Participants:95783</md-card-subtitle>
					</md-card-header>
					<md-card-content>
						<h1 class="skill_content"><a routerLink="java">See 4 Test</a></h1>
					</md-card-content>
				</md-card>
				
			</div>
			<div flex="">
			1
			</div>
			<div>
			2
			</div>
		</div>-->
	<div>
</div>
	